[alias]
	st = status
	co = checkout
	cia = commit -am
	up = pull --rebase
	cofr = !git checkout $(git branch -r --format='%(refname:lstrip=3)' | fzf)
	cof = !git checkout $(git branch --format='%(refname:short)' | fzf)
	f = fetch
	cob = checkout -b
	unstage = reset HEAD --
	ci = commit -m
	c = clone https://americanfidelity.visualstudio.com/CET/_git/
[http]
	sslcainfo = /mnt/c/Users/zkmt9tx/american-fidelity-ca-bundle.pem
[core]
	editor = nvim
	autocrlf = input
	eol = lf
[user]
	name = Kyle Taylor
	email = kyle.taylor@americanfidelity.com
[push]
	default = current
[pull]
	default = current
[branch]
	autosetupmerge = true
[credential]
	helper = /mnt/c/Users/zkmt9tx/AppData/Local/Programs/Git/mingw64/bin/git-credential-manager.exe
